@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFProDisplay-Regular.ttf');
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'SF Pro Display';
}

header{
	/*position: fixed;
	/*width: 100%;
	/*background-color: #ffffff;
	/*z-index: 2;
	/*top:0;*/
}
h3{
	font-size: 15px;
	font-weight: 500;
}
.logo{
	max-width: 300px;
	padding: 2rem 0;
}
.logo h1{
	float: right;
	font-weight: 500;
	font-size: 20px;
}
.nav-link{
	font-size: 18px;
}
.container{
	/*margin-top:12rem;*/
	margin-top: 2rem;
}
.card{
	border:none;
}
.card-header, .card-footer {
	background-color: #ffffff;
}
.card-header h2{
	font-size: 20px;
	font-weight: 500;
}
.card-body{
	color: #999;
	padding:0;
}

.card-body h5{
	font-size: 17px;
	padding-left:1rem;
	font-weight: 400;
}

.horizontal-card .card-text{
	font-size: 15px;
	padding-left:1rem;
}

.horizontal-card h3{
	font-weight: 500;
	color: #190608;
}
.horizontal-card h5 a{
	text-decoration: none;
}

.card-body p span{
	color: #190608;
}

.card-footer{
	border:none;
	padding-left: 0;
}

.card-footer a{
	text-decoration: none;
}


footer p{
	color: #999;
}

.page-form{
	max-width: 600px;
}